[submodule "SuperRent"]
	path = SuperRent
	url = https://github.com/dhirenkakkar/SuperRent.git
[submodule "CPSC210-Project-BusesAreUs"]
	path = CPSC210-Project-BusesAreUs
	url = https://github.com/dhirenkakkar/CPSC210-Project-BusesAreUs.git
